services:
  oracle18c:
    networks:
      - default
    image: gvenzl/oracle-xe:18-slim-faststart
    ports:
      - "${ORACLE18C_PORT:-1514}:1521" # use a non-standard port here
    environment:
      ORACLE_PASSWORD: ${ORACLE_SYSTEM_PASSWORD:-super-secret}
      APP_USER_PASSWORD: ${ORACLE_PASSWORD:-super-secret}
      APP_USER: ${ORACLE_USER:-app}
  oracle23c:
    networks:
      - default
    image: gvenzl/oracle-free:23-slim-faststart
    ports:
      - "${ORACLE23C_PORT:-1513}:1521" # use a non-standard port here
    environment:
      ORACLE_PASSWORD: ${ORACLE_SYSTEM_PASSWORD:-super-secret}
      APP_USER_PASSWORD: ${ORACLE_PASSWORD:-super-secret}
      APP_USER: ${ORACLE_USER:-app}
networks:
  default:
    driver: bridge
